<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\LibrarySystem.mdf;Initial Catalog=LibrarySystem;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="BooksLibrarySystem" connectionString="Data Source=.;Initial Catalog=BooksLibrarySystem;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.webServer>
		<httpErrors errorMode="Custom">
			<remove statusCode="404"/>
			<error statusCode="404" path="/404.aspx" responseMode="ExecuteURL"/>
		</httpErrors>
	</system.webServer>
	<system.web>
		<customErrors mode="Off" defaultRedirect="~/Error" redirectMode="ResponseRedirect">
		</customErrors>
		<compilation debug="true" targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
		<pages validateRequest="false">
			<namespaces>
				<add namespace="System.Web.Optimization"/>
				<add namespace="Microsoft.AspNet.Identity"/>
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
			</controls>
		</pages>
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
			</providers>
		</sessionState>
	</system.web>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>